@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ITC Avant Garde";
    src: url("/src/assets/fonts/ITC Avant Garde Book SWA.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "ITC Avant Garde";
    src: url("/src/assets/fonts/ITC Avant Garde Book Oblique SWA.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "ITC Avant Garde";
    src: url("/src/assets/fonts/ITC Avant Garde Demi SWA.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "ITC Avant Garde";
    src: url("/src/assets/fonts/ITC Avant Garde Demi Oblique SWA.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  html, body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
}